body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

/*HEADER*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logoimg {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.linkhome {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 100px;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.menu-pesquisa {
    display: flex;
    gap: 20px;
    background-color: white;
    align-items: center;
}

.menu-pesquisa input {
    background-color: white;
}

ul a {
    text-decoration: none;
    color: black;
}

.barra-pesquisa {
    border: 2px solid;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #F8F1F1;
    width: 400px;
}

.logo h4 {
    font-family: 'Arial', sans-serif; /* Fonte moderna */
    font-size: 24px;
    margin: 0; /* Remove margens padrão */
    transition: color 0.8s ease;
}

h4:hover {
    color: black;
    text-shadow: #0cc0df 5px 2px 10px;
}

.menu a:hover {
    transition: color 0.3s ease;

}

.menu a:hover {
    color: #0cc0df;
}

@media (max-width: 992px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .menu ul {
        margin: 10px;
    }

    .linkhome {
        gap: 10px; /* Reduz o espaço entre os itens do link home */
    }

    .barra-pesquisa {
        width: 100%; /* Faz a barra de pesquisa ocupar 100% da largura */
    }
}

@media (max-width: 768px) {
    .menu ul {
        flex-direction: column;
        gap: 20px;
    }

    .logo h4 {
        font-size: 20px; /* Reduz o tamanho da fonte do logo */
    }

    .menu ul {
        font-size: 16px; /* Reduz o tamanho da fonte do menu */
    }

    .menu-pesquisa {
        flex-direction: column; /* Muda a direção da pesquisa para coluna */
        align-items: flex-start; /* Alinha os itens à esquerda */
    }
}

@media (max-width: 576px) {
    .logoimg {
        width: 50px; /* Reduz a largura da imagem do logo */
        height: 50px; /* Reduz a altura da imagem do logo */
    }

    .barra-pesquisa {
        width: 100%; /* Faz a barra de pesquisa ocupar 100% da largura */
    }

    .menu ul {
        gap: 10px; /* Reduz o espaço entre os itens do menu */
    }
}

/*HEADER*/


/*BANNER*/

.carousel-item {
    height: 100%;
    width: 100%;
}

/*BANNER*/


/*APRESENTAÇÃO*/
.apresentacao {
    margin: 50px 10px 10px 180px;
    width: 60%;
}

.titulo-apresentacao h1 {
    color: #0cc0df;
    font-size: 4em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
}

.descricao-apresentacao p {
    color: #333;
    font-size: 2em;
    line-height: 1.5;
    text-align: justify;
    margin: 15px 0;
}

@media (max-width: 768px) {

    .titulo-apresentacao h1 {
        font-size: 2em; /* Reduz o tamanho da fonte em telas menores */
    }

    .descricao-apresentacao p {
        font-size: 1.2em; /* Reduz o tamanho da fonte da descrição */
    }

    .apresentacao {
        margin: 0 20%;
        width: 60%;
    }

}

@media (max-width: 480px) {

    .titulo-apresentacao h1 {
        font-size: 1.5em; /* Tamanho da fonte ainda menor para dispositivos móveis */
    }

    .descricao-apresentacao p {
        font-size: 0.9em; /* Tamanho da fonte da descrição ainda menor */
    }

}

/*APRESENTAÇÃO*/


/*FAKE NEWS*/
.fakenews {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 130px;
}

.titulo-fakenews h1 {
    color: #272727;
    font-size: 3.5em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
}

.titulo-fakenews h1 span {
    color: red;
}

.descricao-fakenews p {
    color: #333;
    font-size: 1.8em;
    line-height: 1.5;
    text-align: justify;
    margin: 15px 0;
}

.video-fakenews {
    display: flex;
    justify-content: center;
    height: 500px;
    margin-top: 20px;
    width: 800px;
}

.video {
    width: 750px;
}

@media (max-width: 768px) {

    .titulo-fakenews h1 {
        font-size: 2em; /* Reduz o tamanho da fonte em telas menores */
    }

    .descricao-fakenews p {
        font-size: 1.2em; /* Reduz o tamanho da fonte da descrição */
    }

    .fakenews {
        margin: 0 20%;
        width: 60%;
    }

    .video-fakenews, .video {
        width: 100%;
        height: 20%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {

    .titulo-fakenews h1 {
        font-size: 1.5em; /* Tamanho da fonte ainda menor para dispositivos móveis */
    }

    .descricao-fakenews p {
        font-size: 0.9em; /* Tamanho da fonte da descrição ainda menor */
    }

    .video-fakenews, .video {
        width: 100%;
        height: 20%;
        margin-bottom: 20px;
    }
}

/*FAKE NEWS*/

/*APLICATIVOS*/
.whatsapp, .instagram, .facebook, .youtube, .google, .bancos {
    height: 130px;
}

.card-body {
    font-size: 23px;
}

.offcanvas-body {
    width: 100%;
}

.offcanvas.offcanvas-start {
    width: 50% !important;
}

@media (max-width: 768px) {
    .offcanvas.offcanvas-start {
        width: 70% !important;
    }
}

@media (max-width: 480px) {
    .offcanvas.offcanvas-start {
        width: 80% !important;
    }
}

/*APLICATIVOS*/


/*RODAPÉ*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F1F1;
}

.redes-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.logoFooter img {
    height: 70px;

}

.redes-sociais-footer {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.redes-sociais-footer li {
    list-style-type: none;
}

footer h2 {
    margin: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #565656;
}

.linha-footer {
    width: 70%;
    background-color: #BFBBBB;
    height: 2px;

}

.redes-sociais-footer {
    margin: 0;
}

.p-footer {
    width: 80%;
    text-align: center;
    align-items: center;
}

/* From Uiverse.io by Praashoo7 */
.form2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #0cc0df;
    border-radius: 15px;
}


#heading {
    text-align: center;
    margin: 10px;
    font-weight: bold;
    color: rgb(2, 81, 107);
    font-size: 2.2em;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: black;
    background-color: white;
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: black;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: black;
}

.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
}


.button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #52e1fd;
    color: black;
}

.button3:hover {
    background-color: white;
    color: black;
}

@media (max-width: 768px) {
    .redes-sociais-footer {
        padding: 0;
    }

    .redes-logo {
        margin: 0 !important;
        padding: 0 !important;
        flex-direction: column;
        gap: 20px;
    }
}

/*RODAPÉ*/