body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}




/*QUEM SOMOS*/
.quem {
    text-align: left;
}
.conteudo {
    width: 80% !important;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 2vh;
}

.textoGrande {
    color: #333; /* Cor do texto (um cinza escuro para melhor legibilidade) */
    font-family: 'Arial', sans-serif; /* Fonte */
    font-size: 1.2rem; /* Tamanho da fonte */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
}

.textoGrande strong {
    color: #0cc0df; /* Cor para o texto em negrito */
}

.imagem img {
    max-width: 100%; /* Imagem responsiva */
    border-radius: 10px; /* Bordas arredondadas na imagem */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave na imagem */
    height: 40vh;
}

.professores {
    font-size: 20px;
}

.professores img {
    border-radius: 15%;
    height: 35vh;
    outline: 2px solid #0cc0df; /* Borda no outline */
    padding: 10px;
    align-self: center;
}

@media (max-width: 768px) {
    .textoGrande {
        font-size: 1rem; /* Tamanho da fonte menor em telas pequenas */
    }

    .img-professores{
        height: auto !important;
        width: 80% !important;
    }
}
@media (max-width: 492px) {
    .img-professores{
        height: auto !important;
        width: 70% !important;
    }
}

.sobre h3 {
    color: #0cc0df; /* Cor do texto */
    font-family: 'Arial', sans-serif; /* Fonte */
    font-size: 2.5rem; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    text-transform: uppercase; /* Letras maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre letras */
    margin: 20px 0;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra do texto */
}


@media (max-width: 768px) {
    .sobre h3 {
        font-size: 1.2rem ;
    }
    .sumir {
        display: none;
    }

    .quem {
        text-align: justify;
    }
    .textoGrande{
        padding: 0;
    }
}